{% extends "base.php.twig" %}

{% block content %}

    <div class="page-header">
        <h1 style="text-align: center;">Search</h1>
    </div>



    <form action="/go" method="post" class="search">
        <input type="search" name="name" id="suchField" placeholder="Username..." class="input" />
        <input type="submit" name="searchUser" value="" class="submit" />
    </form>



    <div id="ergebnisse">

    </div>



    <script type="text/javascript">
        $(function(){
            $("#suchField").keyup(function(){
                var search = $("#suchField").val();
                $.ajax({
                    type: "POST",
                    url: "/ajax",
                    data: {"search": search},
                    cache: false,
                    success: function(response){
                        var names = JSON.parse(response);

                        var text = "";

                        if(names.length !=0 && names[0].length != 0){
                            for(i=0; i < names[0].length; i++){
                                var name = names[0][i].user;
                                text += '<a id="userButton" href="#">'+name+'</a><br>';
                            }
                        }

                        $("#ergebnisse").html(text);
                    }
                });
                return false;
            });



        });

        $(document).ready(function () {

            $(document).on('click', '#userButton', function(){
                var valueFromLink = $(this).text();
                $("#suchField").val(valueFromLink);
            });

        });

    </script>








{% endblock %}