{% extends "base.php.twig" %}

{% block content %}

{#
    <div class="page-header">
        <h1 style="text-align: center;">Suchergebnis</h1>
    </div>
#}

    {% if json_to_list('error') %}

    <div class="noLinesFound">
        {{ json_to_list('error') }} <br>
    </div>

    {% endif %}





    {% if json_to_list('vorschlag') %}

        {% for user in json_to_list('vorschlag') %}

            <div class="trackerLine">
                <span>
                    <a id="userButton" href="{{ path('profile', { name : user.user }) }}">{{ user.user }}</a>
                </span>
            </div>

        {% endfor %}

    {% endif %}













{% endblock %}